
$slider-height:118px;
.swiper-slide{
	height: $slider-height;
}
ion-slides{
	height:$slider-height;
}
img{
	object-fit:cover;
}
.hides{
	display: none;
}
.item-md ion-thumbnail img{
	border-radius: 5%;
}
.brand-logo{
	height:32px;
	// margin-left: 10px;
}